@font-face {
    font-family: 'Molodost';
    src: local('Molodo-font'), local('MolodofontRegular'), url('Molodo-font.woff2') format('woff2'), url('Molodo-font.woff') format('woff'), url('Molodo-font.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
